@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <h4 class="alert-heading">@TempData["success"]</h4>
    </div>    
}
@if (TempData["error"] != null)
{
    <div class="alert alert-error">
        <h4 class="alert-heading">@TempData["error"]</h4>
    </div>
}